body {
  .container {
    height: 100%;
    min-width: 366px;
    max-width: 708px;
    max-height: 964.167px;

    h1 {
      width: 100%;
    }

    .container-fluid {
      .row {
        .col {
          border: 1px solid #000;

          &.red-on {
            color: $red;
            background: $red;
          }
          &.coffee-on {
            color: $coffee;
            background: $coffee;
          }
          &.yellow-on {
            color: $yellow;
            background: $yellow;
          }
          &.dark-on {
            color: $dark;
            background: $dark;
          }
          &.darkBlue-on {
            color: $darkBlue;
            background: $darkBlue;
          }
        }
      }
    }
  }
}
