// colors
$c1: rgba(16 18 27 / 40%);
$c2: rgba(12 15 25 / 30%);
$c3: #21242d;
$c4: rgb(42 46 60);
$c5: rgb(22 25 37);
$c6: #14162b;
$c7: rgba(36, 39, 59, 0.3);
$c8: rgb(1 2 3 / 40%);
$c9: #ff5733;
$c10: #34e7e4;
$c11: #ff33fc;
$c12: #33ff57;
$c13: #e734e7;
$c14: #33fcff; 
$c15: #5733ff;
$c16: #e7e734;
$c17: #57ff33;
$c18: #34e7e7;

$brightGreen: #99FF33; $brightGreen2: #99FF00;
$brightYellow: #FFFF00; $yellow: #FFFF33;
$yellowOrange: #FFCC33; $orange: #FF9900;
$orangeRed: #CC3300; $red: #FF0000;
$redOrange: #FF3300; $red2: #FF3366;
$red3: #FF3399; $red4: #FF33CC;
$red5: #FF33FF; $red6: #FF6600;
$red7: #FF9900; $red8: #FFCC00;
$red9: #FFFF00; $red10: #FFFF33;
$red11: #FFFF66; $red12: #FFFF99;
$red13: #FFFFCC; $red14: #FFFFFF;
$red15: #FFCCFF; $red16: #CCFFFF;

// $brightGreen, $brightGreen2, $brightYellow, $yellow, $yellowOrange, $orange, $orangeRed, $red, $redOrange, $red2, $red3, $red4, $red7, $red8, $red9, $red12, $red13, $red14, $red15, $red16;


$darkBlue: #336699; $navyBlue: #003366; // Security
$deepPurple: #990066; $purple: #800080; // Confidence
$teal: #006666; $cyan: #009999; // Trust
$darkOrange: #CC3300; $brightOrange2: #FF6600; // Bravery
$brightOrange: #FF9933; $Amber: #FF9900; // Motivated
$vibrantPinkRed: #FF3366; $intenseRed: #FF0044; // Passion
$royalPurple: #660066; $deepPurple2: #990099; // Revolution
$emeralGreen: #339966; $forestGrenn: #006633; // Satisfaction
$indigoBlue: #333399; $darkBlue2: #000099; // Stability
$limeGreen: #669900; $green: #008000; // Success
$goldenYellow: #FFCC00; $gold: #FFD700; // Pleasure


// $darkBlue, $navyBlue, $deepPurple, $purple, $teal, $cyan, $darkOrange, $brightOrange2, $brightOrange, $Amber, $vibrantPinkRed, $intenseRed, $royalPurple, $deepPurple2, $emeralGreen, $forestGrenn, $indigoBlue, $darkBlue2, $limeGreen, $green, $goldenYellow, $gold;